* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --main-bg-color: linear-gradient(to bottom,
            #dbdbdd 0%,
            #dfd4e5 50%,
            #e6ccf1 100%);

    --home-title-color: linear-gradient(45deg, #28e1d9, #ef0000);
    --home-quete-color: linear-gradient(to right, #353f3a, #858f0b);
    --home-QuizTime-color: #b45eb1;
    --home-QuizDesc-color: #551753;
    --home-inputBg-color: #a461a2;
    --home-inputText-color: rgb(222, 213, 213);
    --home-inputTextPlaceholder-color: #d0c9c9;
    --home-startButtonBg-color: rgb(153 68 152);
    --home-startButtonText-color: #fff2f2;

    --instruction-text-color: rgb(90 36 36);
    --instruction-buttonText-color: white;
    --instruction-StartBtnBg-color: rgb(69 137 120);
    --instruction-StartBtnHoverBg-color: rgb(53, 123, 106);
    --instruction-cancelBtnBg-color: #cf3838;
    --instruction-cancelBtnHoverBg-color: #c40505;

    --header-text-color: #7f2988;
    --quiz-desc-bg-color: #876a93;
    --quiz-desc-text-color: #e6eae8;

    --que-block-text-color: black;
    --que-text-color: #7f2988;
    --option-lableBg-color: #ac8ab4;
    --option-lableText-color: #e8e8e8;

    --ans-block-color: black;
    --question-summary-bg: #8ea4a5;

    --skipped-questions-summaryBg: #f9f9f9;
    --skipped-questions-summaryBg: #b98383;
    --skipped-question-summaryBg: #a7d7a3;
}

.dark {
    --main-bg-color: linear-gradient(to bottom, #1e1e1e, #282828);
    --home-title-color: linear-gradient(45deg, #ff1717, #46cac7);
    --home-quete-color: linear-gradient(to right, #14ed89, #d33900);
    --home-QuizTime-color: #079e9d;
    --home-QuizDesc-color: #d6d6d6;
    --home-inputBg-color: #abc6b1;
    --home-inputText-color: black;
    --home-inputTextPlaceholder-color: black;
    --home-startButtonBg-color: rgb(65, 122, 172);
    --home-startButtonBg-color: rgb(33, 109, 175);
    --bg-image: url("./images/7.jpg");
    --home-startButtonText-color: #fff;
    --instruction-text-color: rgb(253, 253, 253);
    --instruction-buttonText-color: white;
    --instruction-StartBtnBg-color: rgb(79, 193, 25);
    --instruction-StartBtnHoverBg-color: rgb(64, 176, 13);
    --instruction-cancelBtnBg-color: #d02020;
    --instruction-cancelBtnHoverBg-color: #c40505;
    --header-bg: #2a3a56;
    --header-text-color: #079e9e;
    --quiz-desc-bg-color: #1b4436;
    --quiz-desc-text-color: #dbe3c4;
    --que-block-text-color: black;
    --que-text-color: white;
    --option-lableBg-color: #85baae;
    --option-lableText-color: black;
    --ans-block-color: black;
    --question-summary-bg: #f0f0f0;
    --skipped-questions-summaryBg: #f9f9f9;
    --skipped-question-summaryBg: #f0f0f0;
}

.theme {
    position: sticky;
    right: 0;
    display: flex;
    margin: 20px 30px;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

.toggleTheme {
    position: relative;
    height: 20px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.toggleTheme::before {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggleTheme.dark {
    background-color: #bbb;
}

.toggleTheme.dark::before {
    transform: translateX(30px);
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg-image);
    background-size: cover;
}

.container {
    width: 100%;
    margin: auto;
}

/* Home page */

.home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.quiz-start-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    width: 45%;
}

.home-title {
    font-size: 30px;
    font-weight: bold;
    background: var(--home-title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.home-title .challenge,
.home-title .accepted {
    display: inline-block;
    margin: 0;
}

.home-title .challenge {
    margin-right: 10px;
}

.quote {
    background: var(--home-quete-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    margin: 5px 0;
}

.start-quiz {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quiz-time {
    color: var(--home-QuizTime-color);
    font-size: 56px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.quiz-time-description {
    color: var(--home-QuizDesc-color);
    font-size: 20px;
}

input {
    background-color: var(--home-inputBg-color);
    opacity: 0.7;
    padding: 10px;
    color: var(--home-inputText-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-right: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

input:focus {
    outline: none;
    opacity: 1;
    transform: scale(1.02);
}

input::placeholder {
    color: var(--home-inputTextPlaceholder-color);
}

#start-btn {
    margin: 10px 0;
    text-align: center;
    border: none;
    background-color: var(--home-startButtonBg-color);
    opacity: 0.7;
    color: var(--home-startButtonText-color);
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#start-btn:hover {
    opacity: 1;
    transform: scale(1.05);
}

#start-btn:active {
    transform: scale(0.95);
}

/* Home page - Ends  */

/* Instruction page  */

.instruction-page {
    display: none;
}

.instruction-page {
    position: relative;
    padding: 0px 100px 60px;
    margin: 40px 0;
    color: var(--instruction-text-color);
    font-weight: 400;
}

.instruction-buttons {
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    gap: 10px;
}

.instruction-buttons button {
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--instruction-buttonText-color);
}

.instruction-page p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#start {
    background-color: var(--instruction-StartBtnBg-color);
}

#start:hover {
    background-color: var(--instruction-StartBtnHoverBg-color);
}

#cancel {
    background-color: var(--instruction-cancelBtnBg-color);
}

#cancel:hover {
    background-color: var(--instruction-cancelBtnHoverBg-color);
}

/* Instruction page - Ends  */

/* Quiz start page  */
section,
header {
    display: none;
}

/* header section */

header {
    font-size: 32px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: var(--header-text-color);
    text-shadow: 0px 0px 1px white;
    border-radius: 5px;
    padding: 15px;
}

.welcomeCandidate p {
    font-size: 28px;
    margin-bottom: -100px;
}

.welcomeCandidate span {
    font-size: 20px;
    margin-bottom: -100px;
}

.quiz-desc {
    background-color: var(--quiz-desc-bg-color);
    padding: 20px;
    color: var(--quiz-desc-text-color);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* header section - Ends  */

.que-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: var(--que-block-text-color);
    margin: 25px auto;
    padding: 25px;
    width: 70%;
    border-radius: 5px;
}

.question-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.question {
    color: var(--que-text-color);

    font-size: 18px;

    margin: 0;
}

.options {
    margin: 25px 0;
    border-radius: 5px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

label {
    background-color: var(--option-lableBg-color);
    padding: 10px;
    width: 100%;
    color: var(--option-lableText-color);
}

.next-button {
    height: 35px;
    width: 80px;
    position: absolute;
    right: 0;
    bottom: -30px;
}

#nextQue {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: #d1cece;
    font-weight: 100;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
}

#nextQue:disabled {
    background-color: #333030;
    cursor: not-allowed;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#nextQue:hover:not(:disabled) {
    background-color: #000000;
    color: white;
    opacity: 1;
}

#submit-btn {
    display: none;
}

.submit-button {
    height: 35px;
    width: 80px;
    position: absolute;
    right: 0;
    bottom: -30px;
}

#submit-btn {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: #d1cece;
    font-weight: 100;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#submit-btn:disabled {
    background-color: #333030;
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#submit-btn:hover:not(:disabled) {
    background-color: black;
    opacity: 1;
}

.ans-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--ans-block-color);
    margin: 0px auto;
    padding: 25px;
    width: 70%;
    border-radius: 5px;
}

/* Styles for displaying questions and options in displayScore */

.question-summary,
.skipped-question-summary {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;

    background-color: var(--question-summary-bg);

    border-radius: 5px;
}

.question-summary h3,
.skipped-question-summary h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.option {
    display: inline;
}

.correct-answer {
    background-color: #d4edda;
    color: #155724;
}

.incorrect-answer {
    background-color: #ea0c1e;
    color: #721c24;
}

.option input[type="radio"] {
    margin-right: 5px;
}

.skipped-questions-summary {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--skipped-questions-summaryBg);

    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Correct Answer */
.correct-answer {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

/* Incorrect Answer */
.incorrect-answer {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

/* White Background for other options */
.white-background {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

/* Container Styles for Skipped Questions */
.skipped-questions-summary {
    background-color: var(--skipped-questions-summaryBg);

    margin-top: 20px;
}

.skipped-question-summary {
    background-color: var(--skipped-question-summaryBg);

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.question-summary {
    margin-bottom: 20px;
    padding: 20px;
}

.option {
    display: block;
    margin: 5px auto;
    width: 100%;
}